.sideList {
  margin: 20px 0; 

  .MuiListItemButton-root {
    margin: 10px 12px;
    padding: 8px 20px;
    border-radius: 10px;
    transition: background-color 0.2s ease;

    .MuiListItemIcon-root {
      min-width: 32px;   
      margin-right: 16px;
      color: inherit; 
    }
  }
}
